<%-include('./partials/head'); %>
  <body>
    <%-include('./partials/navbar'); %>
        <div class="container">
          <h1 class="text-center">
              What is my Browser Information
          </h1>
        <%if (flag) { %>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Browser Name</th>
                    <th>Browser Version</th>
                    <th>Browser Version Number</th>
	            <th>Mobile</th>
		    <th>Operating System</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%=browser.name%></td>
		    <td><%=browser.version%></td>
		    <td><%=browser.versionNumber%></td>
		    <td><%=browser.mobile%></td>
		    <td><%=browser.os%></td>			
                  </tr>
                </tbody>
              </table>
        <% } %> 
        <br><br>
        <%-include('./partials/services');%>
        <%-include('./partials/jumbotron');%>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    // Basic Slider
    var slider = new Slider("#basic", {
         tooltip: 'always'
       });
 </script>
</html>