<%-include('./partials/head'); %>
  <body>
    <%-include('./partials/navbar'); %>
      <div class="container">
          <h1 class="text-center">
              Vaild Domain Name Checker Online
          </h1>
          <form action="/domainchecker" method="post">
            <div class="form-group">
		<label for="string">Bulk Domains:</label>
                <input type="text" class="form-control" name="domain" placeholder="Enter Domains" id="inputtextarea" required>
            </div>
            <div class="form-group">
                <button id="button" class="btn btn-block btn-danger">
                    Verify Domain
                </button>
            </div>
	    <div class="form-group">
		<label for="string">Output:</label>
                <textarea cols="20" rows="10" class="form-control" name="outputtext" placeholder="Result" id="outputtextarea"><%=text%></textarea>
            </div>
</form>
        
        <br><br>
        <%-include('./partials/services');%>
        <%-include('./partials/jumbotron');%>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>console.log($("#inputtextarea").val().split('\n'))
</script>
</html>