<%-include('./partials/head'); %>
  <body>
    <%-include('./partials/navbar'); %>
      <div class="container">
          <h1 class="text-center">
              Domain Name Age Checker
          </h1>
          <form action="/domainagechecker" method="post">
            <div class="form-group">
                <label for="domain">Domain URL:</label>
                <input class="form-control" type="text" name="domain" id="" placeholder="Domain name" required>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-danger">
                    Get Domain Age
                </button>
            </div>
        </form>
        <%if (flag) { %>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Domain Name</th>
                    <th>Creation Date</th>
                    <th>Domain Age</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%=data.domainName%></td>
                    <td><%=date%></td>
                    <td><%=domainAge%></td>
                  </tr>
                </tbody>
              </table>
        <% } %>
        <br><br>
        <%-include('./partials/services');%>
        <%-include('./partials/jumbotron');%>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>